<%provide(:title, @user.name)%>
<div class = "row">
  <aside class = "span4">
    <section>
      <h1>
        <%= gravatar_for @user, size: 100 %>
        <%= @user.name %>
        <%= @user.email %>
      </h1>
      <% if @user.admin? %>
        is an admin
      <% end %>
    </section>
  </aside>
</div>
