<% unless current_user?(@user) %>
  <div id = "follow_or_unfollow_button">
    <% if current_user.following?(@user) %>
      <%= render 'shared/unfollow_button' %>
    <% else %>
      <%= render 'shared/follow_button' %>
    <% end %>
  </div>
<% end %>